# Xcode
#
*.xcuserstate
xcuserdata
DerivedData
*/.DS_Store
.DS_Store

# Generated project
*.xcodeproj
**.pbxproj

# Dependencies
Carthage/*
src/WM_API/.build/*

# Credential
src/WM_SDK/Asset/APIKey.plist
